*.o
*.gcno
*.gcda
projects/morrissz/dominion/playdom
projects/morrissz/dominion/playdom.dSYM/Contents/Resources/DWARF/playdom
projects/morrissz/dominion/player.dSYM/Contents/Resources/DWARF/player
projects/morrissz/dominion/player
projects/morrissz/dominion/playdom.dSYM/Contents/Resources/DWARF/playdom
projects/morrissz/dominion/playdom.dSYM/Contents/Resources/DWARF/playdom
projects/morrissz/dominion/player.dSYM/Contents/Resources/DWARF/player
projects/morrissz/dominion/tests.out
projects/morrissz/dominion/unittest1
projects/morrissz/dominion/unittest2
projects/morrissz/dominion/unittest3
projects/morrissz/dominion/unittest4
projects/morrissz/dominion/unittest5
*.plist
projects/morrissz/dominion/unittest1.dSYM/Contents/Resources/DWARF/unittest1
projects/morrissz/dominion/unittest2.dSYM/Contents/Resources/DWARF/unittest2
projects/morrissz/dominion/unittest3.dSYM/Contents/Resources/DWARF/unittest3
projects/morrissz/dominion/unittest4.dSYM/Contents/Resources/DWARF/unittest4
